QLineEdit {
    border-width: 1px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    color: #eee;
    background-color: rgba(255, 255, 255, 0.05);
    padding: 3px;
}

QLineEdit:hover {
    border-color: rgba(255, 255, 255, 0.15);
    background-color: rgba(255, 255, 255, 0.1);
}

QLineEdit:focus {
    border-color:rgba(255, 255, 255, 0.15);
    background-color: rgba(0, 0, 0, 0.05);
}